body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  background-color: #eee;
  margin: 0;
  width: 100%;
  height: 100vh;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 330px;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #aaa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: opacity 1s ease;
  opacity: 1;
}

.maskform {
  opacity: 0;
}

.form-header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-header h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 25px;
  color: #3e4bff;
  font-weight: bold;
}

.form-header span {
  font-size: 24px;
  font-weight: 600;
  color: #3e4bff;
  margin-bottom: 10px;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.form-content .form-input {
  position: relative;
  width: 100%;
  height: auto;
}

.form-content .form-input:not(:last-child) {
  margin-bottom: 20px;
}

.form-input input {
  width: 100%;
  padding: 15px 10px;
  background-color: lightgray;
  border-width: 0;
  font-size: 14px;
  color: black;
}

.form-input input:focus {
  outline: none
}

.form-input span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 3px;
  background-color: #3e4bff;
  transition: all .5s;
}

.form-input i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 1.2rem;
}

.form-input span.input-focused {
  width: 100%;
}

.form-footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.form-footer button.btn {
  position: relative;
  width: 100%;
  background-color: #3e4bff;
  color: #fff;
  font-weight: 700;
  border-radius: 0;
  padding: 10px;
  overflow: hidden;
}

.form-footer button.btn:focus {
  outline: none !important;
}

.form-footer button.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  background-color: blue;
  opacity: .4 !important;
  transition: all 1s;
}

.form-footer button.btn.btn-focused:before {
  width: 150%;
  height: 400%;
  opacity: 0 !important;
}

.form-footer button.btn.hidden:before {
  opacity: 0 !important;
}

.form-footer span {
  font-size: 12px;
  margin-top: 10px;
  color: rgba(0, 0, 0, .7);
}

.form-footer span a {
  color: #3e4bff !important;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 330px) {
  .form {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translate(0, 0);
    overflow-y: scroll;
  }

  .form-footer,
  .form-content {
    margin-top: 30px;
  }
}

@media screen and (max-height: 420px) {
  .form {
    height: 100%;
    top: 0;
    bottom: 0;
    transform: translate(-50%, 0);
    overflow-y: scroll;
  }
}

@media screen and (max-height: 420px) and (max-width: 330px) {
  .form {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}
