body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container-fluid {
  margin: 0;
  padding: 0 !important;
}

.bookstore-section {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.bookstore-main {
  width: calc(100% - 250px);
  height: 100vh;
  background-color: #fff;
}

.bookstore-menu {
  width: 250px;
  height: 100%;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 20px 20px 30px;
  overflow-y: scroll;
}

.bookstore-menu > div {
  width: 100%;
}

.bookstore-menu > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bookstore-menu > div:last-child > span {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #3e4bff;
}

.bs-menu--header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bs-menu--header img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.bs-menu--header span {
  font-size: 16px;
  color: #3e4bff;
  font-weight: bold;
  font-family: ubuntu;
  margin-left: 10px;
}

.bs-menu--nav {
  margin-top: 40px;
  width: 100%;
}

.bs-menu--nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 0;
}

.bs-menu--nav ul li {
  list-style: none;
  padding: 15px 0 10px 10px;
  border-bottom: 2px solid #aaa;
  color: #aaa;
  width: 100%;
  margin-bottom: 10px;
  font-family: ubuntu;
  transition: all .3s;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bs-menu--nav ul li i {
  font-size: 1.3rem;
  margin-right: 10px;
}

.bs-menu--nav ul li.active {
  border-bottom: 3px solid #3e4bff;
  color: #3e4bff;
  font-weight: 600;
  background-color: rgba(0, 0, 0, .06);
}

.bs-currently-read {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 2px grey;
}

.bs-currently-read img {
  height: 60px;
  width: 60px;
}

.bs-currently-read--info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 10px;
}

.info-bottom {
  font-size: 12px;
}

.info-top {
  display: flex;
  flex-direction: column;
}

.info-top span:first-child {
  font-size: 14px;
  font-weight: 600;
}

.info-top span:last-child {
  font-size: 12px;
}

/* menu mobile */
.bookstore-menu--mobile {
  display: none !important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bookstore-menu--mobile nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 10px;
  width: 100%;
}

.bookstore-menu--mobile nav a {
  text-decoration: inherit;
  color: #aaa;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.bookstore-menu--mobile nav a.active {
  color: #3e4bff;
  font-weight: 600;
}

.bookstore-menu--mobile nav i {
  font-size: 1.4rem;
  margin-right: 5px;
}

.bookstore-menu--mobile nav a:not(:last-child) {
  margin-right: 30px;
}

.bookstore-menu--mobile img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .bookstore-menu {
    width: 200px;
    padding: 10px;
  }

  .bs-menu--header {
    margin-top: 20px;
  }

  .bookstore-main {
    width: calc(100% - 200px);
  }
}

@media screen and (max-width: 600px) {
  .bookstore-menu {
    display: none;
  }

  .bookstore-menu--mobile {
    display: flex !important;
  }

  .bookstore-main {
    width: 100%;
    height: calc(100% - 60px);
  }
}

@media screen and (max-width: 430px) {
  .bookstore-menu--mobile nav a span{
    display: none;
  }

  .bookstore-menu--mobile nav {
    justify-content: space-between;
  }

  .bookstore-menu--mobile nav a:last-child {
    margin-right: 30px;
  }
}
